body{
	background-color:cornsilk;
}
h1{
	color:maroon;
}
p{
	color:peachpuff;
}
h1{
	color: lightgoldenrodyellow;
	text-align:center;
}
h1{
	background-color: antiquewhite;
	color: rosybrown;
}
h1{
	text-align:center;
}
a{
	text-decoration:none;
}
p{
	line-height: 1.8;
}
p{
	font-family:"Times New Roman",
		Times,serif;
}
#firstp{
	Color:brown;
	line-height:1.8;
}
#secondtp{
	Color:brown;
	line-height:1.8;
}
.blue{
	color:blue;
}
.red{
	color:red
}